*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.body_container{
    background-color: white;
    font-size: 16px;
}
/* header */
.header_container{
    display: flex;
    flex-wrap: wrap;
}
.logo-svg{
    width: 30%;
    margin: 0 auto;
    border-radius: 0 0 1em 1em;
}
.nav-container{
    display: flex;
    flex-wrap: wrap;
}
.menu-list1{
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    width: 35%;
    list-style: none;
    background-color: white;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    /* padding-right: 2em; */
}
.menu-list2{
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    width: 35%;
    list-style: none;
    background-color: white;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    /* padding-left: 2em; */
}
.menu-list1 .pin, .menu-list2 .pin{
    margin: 0 .5em;
}
.menu-list1 .pin a, .menu-list2 .pin a{
    color: #aad400;
    text-decoration: none;
}
/* section items*/
.section_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
    width: 100%;
}
/* Items */
.item_home{
    display: flex;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(231, 231, 231);
    margin: .5em 0;
}
.item_container{
    display: flex; 
    flex-wrap: wrap; 
    width: 100%; 
    margin: 0 auto;}
.item_imagen{
    width: 100%;
}
.item_text_content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: start;
    justify-content: center;
    text-align: center;
}
.item_title{font-size: 2em; padding: 1em .5em .5em;width: 100%;}
.item_description{font-size: 1.2em; width: 100%; padding: 1em .5em;}
.item_add{font-size: 1.5em;width: 100%; padding: .5em;}
.item_price{font-size: 1.8em;width: 100%; padding: .5em;}

/* Footer container */
.footer_container{width: 100%;bottom: 0;background-color: yellow;text-align: center;padding: 1em .5em;}

@media screen and (min-width: 0px) {
    .nav-container{
        font-size: 1.2em;
        text-align: center;
    }
    .logo-svg{
        order: 0;
        width: 100%;
    }
    .menu-list1{
        order: 1;
        width: 50%;
        display: block;
        text-align: center;
    }
    .menu-list2{
        order: 2;
        width: 50%;
        display: block;
        text-align:center;
    }
    .pin{
        display: block;
        margin: 0;
        padding: 1em;
    }

    .item_home{
        width: 100%; 
        display:flex; 
        flex-wrap: wrap;
    }
    .item_text_content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .item_title{font-size: 2em; padding:0; width: 100%;}
    .item_description{font-size: 1.2em; width: 100%; padding:0 2em;}
    .item_add{font-size: 1.5em;width: 100%; padding: 0;}
    .item_price{font-size: 1.8em;width: 100%; padding: 0;}
    }

@media screen and (min-width: 768px) {
    .nav-container{
        font-size: 1.2em;
        text-align: center;
    }
    .logo-svg{
        order: 2;
        width: 30%;
    }
    .menu-list1{
        display: flex;
        order: 1;
        width: 40%;
        text-align: center;
    }
    .menu-list1 li, .menu-list2 li{
        display: inline-block;
        padding: .5em 0;
    }
    .menu-list2{
        display: flex;
        order: 3;
        width: 30%;
        text-align: center;
    }
    .pin{
        margin: 0;
        padding: 1em;
    }

    .item_home{
        width: 50%;
        display: flex;
    }

}
@media screen and (min-width: 1280px) {
    .nav-container{
        font-size: 1.2em;
        text-align: center;
    }
    .logo-svg{
        order: 2;
        width: 20%;
    }
    .menu-list1{
        display: flex;
        order: 1;
        width: 40%;
        text-align: right;

    }
    .menu-list2{
        display: flex;
        order: 3;
        width: 40%;
        text-align: left;
    }
    .pin{

        margin: 0;
        padding: 1em;
    }
    .item_home{
        width: 50%;
        display: flex;
    }
    .item_container{
        width: 60%;
    }
    .item_imagen{
        width: 100%;
    }
    .item_text_content{
        width: 40%;
        text-align: center;
    }
    .item_title{font-size: 1.5em;}
    .item_description{font-size: 1em;}
    .item_add{font-size: 1.2em;}
    .item_price{font-size: 1.5em;}
}
@media screen and (min-width: 1520px) {
    .item_home{
        width: 50%;
        display: flex;
    }
    .item_container{
        width: 60%;
    }
    .item_imagen{
        width: 100%;
    }
    .item_text_content{
        width: 40%;
        text-align: center;
    }
    .item_title{font-size: 1.8em;padding: 1em .5em 0em;}
    .item_description{font-size: 1.2em; padding: .5em .5em 0;}
    .item_add{font-size: 1.5em;}
    .item_price{font-size: 1.8em;}
}