*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
a{
	text-decoration: none;
	color: white;
}
.body_container{
	background-color: white;
	font-size: 16px;
}
/* header */
.header_container{
	display: flex;
	flex-wrap: wrap;
}
.logo-svg{
	width: 100%;
}
.nav-container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.list_1{
	color: #637175;
	width: 40%;
	list-style: none;

}
.list_1 li, .list_3 li{
	border-radius: 4px;
	cursor: pointer;
	margin: 0;
}
.list_1 li:hover, .list_3 li:hover{
	background-color: #AAD400;
	color:white;
}
.list_2{
	width: 20%;
}
.list_3{
	color: #637175;
	width: 40%;
	list-style: none;
}
.list_4{
	order: 4;
	display: flex;
	list-style: none;
	width: 6em;
	background-color: #AAD400;
	position: fixed;
	top: .2em;
	right: .2em;
	justify-content: flex-end;
	color: #707E83;
	border-radius: 4px;
}
.list_4 li{
	padding: .5em;
	color: white;
	border-radius: 4px;
}
.list_4 li:hover{
	background-color: #707E83;
}

/* Contenido dinamico */
.section_dinamico img{
	/* background-image: url(/img/demo.png); */

	/* height: 20em; */
	width: 50%;
}

/* section items*/
.section_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: rgb(240, 240, 240);
	width: 100%;
}
/* Items */
.item_home{
	display: flex;
	width: 100%;
	background-color: white;
	border: 1px solid rgb(231, 231, 231);
	margin: .5em 0;
}
.item_container{
	display: flex; 
	flex-wrap: wrap; 
	width: 100%; 
	margin: 0 auto;}
.item_imagen{
	width: 100%;
}
.item_text_content{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: auto;
	align-items: start;
	justify-content: center;
	text-align: center;
}
.item_title{font-size: 2em; padding: 1em .5em .5em;width: 100%;}
.item_description{font-size: 1.2em; width: 100%; padding: 1em .5em;}
.item_add{font-size: 1.5em;width: 100%; padding: .5em;}
.item_price{font-size: 1.8em;width: 100%; padding: .5em;}

/* Footer container */
.footer_container{width: 100%;bottom: 0;background-color: yellow;text-align: center;padding: 1em .5em;}

@media screen and (min-width: 0px) {
	.list_1{
		order: 2;
		width: 50%;
		display: block;
		flex-wrap: wrap;
		list-style: none;
		align-items: center;
	}
	.list_1 li{
		display: block;
		padding: .5em;

	}
	.list_2{
		order: 1;
		width: 100%;
	}
	.list_3{
		order: 3;
		list-style: none;
		display: block;
		flex-wrap: wrap;
		width: 50%;
		align-items: center;
	}
	.list_3 li{
		display: block;
		padding: .5em;
	}
	.nav-container{
		font-size: 1.2em;
		text-align: center;
	}
	.item_home{
		width: 100%; 
		display:flex; 
		flex-wrap: wrap;
	}
	.item_text_content{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	.item_title{font-size: 2em; padding:0; width: 100%;}
	.item_description{font-size: 1.2em; width: 100%; padding:0 2em;}
	.item_add{font-size: 1.5em;width: 100%; padding: 0;}
	.item_price{font-size: 1.8em;width: 100%; padding: 0;}
	}

@media screen and (min-width: 768px) {
	.list_1{
		order:1;
		width: 40%;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		align-items: center;
		justify-content: flex-end;
	}
	.list_2{
		order: 2;
		width: 25%;
	}
	.list_3{
		order: 3;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		width: 35%;
		align-items: center;
		justify-content: flex-start;
	}
	.list_4{
		order: 4;
		display: inline-block;
		list-style: none;
		width: 2em;
		background-color: #AAD400;
		position: fixed;
		top: 32%;
		right: .2em;
		justify-content: flex-end;
		color: #707E83;
		border-radius: 4px;
	}
	.list_4 li{
		padding: .5em;
		color: white;
	}


	.nav-container{
		font-size: 1.2em;
		text-align: center;
	}
	.item_home{
		width: 50%;
		display: flex;
	}

}
@media screen and (min-width: 1280px) {
	.nav-container{
		font-size: 1.2em;
		text-align: center;
	}

	.item_home{
		width: 50%;
		display: flex;
	}
	.item_container{
		width: 60%;
	}
	.item_imagen{
		width: 100%;
	}
	.item_text_content{
		width: 40%;
		text-align: center;
	}
	.item_title{font-size: 1.5em;}
	.item_description{font-size: 1em;}
	.item_add{font-size: 1.2em;}
	.item_price{font-size: 1.5em;}
}
@media screen and (min-width: 1520px) {
	.item_home{
		width: 50%;
		display: flex;
	}
	.item_container{
		width: 60%;
	}
	.item_imagen{
		width: 100%;
	}
	.item_text_content{
		width: 40%;
		text-align: center;
	}
	.item_title{font-size: 1.8em;padding: 1em .5em 0em;}
	.item_description{font-size: 1.2em; padding: .5em .5em 0;}
	.item_add{font-size: 1.5em;}
	.item_price{font-size: 1.8em;}
}